
.Hcontainer{
    display: flex;
    align-items: center;
    position:relative;
}
.Hcontainer::after,.Hcontainer::before{
    content:"";
    width:28.125rem;
    height:28.125rem;
    border-radius: 28.125rem;
    /* background: rgb(58, 164, 206); */
    /* background: rgb(64, 144, 176); */
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}
.Hcontent{
    flex:1;
}
.Hcontent h2{
    font-size: 3.8 rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 1rem;
}
.Hcontent p{
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}
.Image {
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    gap:2rem;
    margin-top:3rem;
}
.Image > div{
    display:flex;
    align-items: flex-end;
    gap:2rem;
}
.Image > div > img{
    width: 25rem;
    transition: all 0.3s ease;
}
.Image img{
    height: 350px;
    width: 400px;
    border-radius: 50px;
}
.tech{
    width:5rem;
    height:5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.65rem;
    border:1.5px solid #6852ba;
}
.tech img{
    width:3rem;
    height:auto;
    transition: all 0.3s ease;
}
.Image > div >img:hover, .tech img:hover{
    transform: translateY(-0.6rem);
}

@media(max-width: 1025px){
    .Hcontent h2{
        font-size: 3rem;
        line-height: 4rem;
    }
    .Hcontent p{
        font-size: 0.9rem;
        line-height: 1.6rem;
    }
    .Image >div >img{
        width: 20rem;
    }
    .tech{
        width:4rem;
        height: 4rem;
    }
    .tech img{
        width: 2.5rem;
    }
}
@media(max-width: 768px){
    .Hcontainer{
        flex-direction:column;
    }
    .Image{
        margin:2rem 0 2rem 0;
    }
    .Hcontainer h2{
        margin-top:3rem;
    }
    .Hcontentainer h2, .Hcontainer p{
        width:auto;
        text-align: center;
    }
    .Hcontainer::after, .Hcontainer::before{
        content: "";
        width:18rem;
        height: 18rem;
    }
    .Hcontainer::after{
        top: 0rem;
        left: rem;
    }
    .Hcontainer::before{
        bottom: 2rem;
        right: 0rem;
    }

}
@media (max-width:600px){
    .Hcontainer h2{
        font-size: 2.2rem;
        line-height: 3rem;
    }
    .Hcontentainer p{
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
    .Image, .Image >div{
        gap:1rem;
    }
    .Image >div >img{
        width: 16rem;
        height: 16rem;

    }
    .tech{
        width: 3.3rem;
        height: 3.3rem;
    }
    .tech img{
        width: 2rem;
    }
}