.mylogo {
    width: 6rem;
    height: 6rem;
}
.nav-wrapper{
    background-color: rgba(0,0,0,0.1);
    padding : 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
}
.nav-content{
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0 auto;
}
.nav-content ul{
    display:flex;
    align-items: center;
    gap: 0.5rem;
    list-style:none;
}

.nav-content li{
    margin: 0 1.3rem;
}
.nav_item{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 400;
    cursor:pointer;
    position: relative;
    color: white;
    font-family: cursive;
}
.nav_item::before{
    content: " ";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg,#a993fe,red 100%);

    border-radius: 0.6rem;
    position: absolute;
    bottom: -0.5rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;

}
.nav_item:hover::before{
    width:100%;
    transform: translateX(0);
    opacity: 1;
}
.hire{
    font-size: 0.9rem;
    font-weight: 500;
    display:flex;
    align-items:center;
    color: white;
    background: linear-gradient(90deg, #a993fe, #7e61e7 100%);
    padding: 0.6rem 2rem;
    border: 2px solid white;
    outline: 1.5px solid transparent;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.3 ease;

}
.hire:hover{
    color: white;
    background: green;
    outline: 1.5px solid green;
}
.menu-btn{
    width:2.5rem;
    height:2.5rem;
    font-size:1.5rem;
    display: flex;
    align-items:center;
    border:none;
    border-radius:0.4rem;
    color:white;
    background: linear-gradient(90deg, purple -0.13%, purple 99.8%);
    line-height : 0;
    cursor:pointer;
    transition: all 0.4s ease;
    display:none;
}
.menu-btn:hover{
    color: #a993fe;
    background: #000;
    border: 1px solid #a993fe;
}
@media (max-width: 425px){
    
    .mylogo{
        height:4rem;
        width:4rem;
    }
       
}
@media (max-width: 769px){
    .menu-btn{
        display:block;
    }
    .nav-content ul {
        display: none;
    }
}
@media (max-width: 1325px){
    .nav-wrapper{
        padding: 0 2rem;
    }
}
