.skills-info-card {
    min-height: 23rem;
    width: 30rem;
    border-radius: 0.65rem;
    border: 1.5px solid darkviolet ;
    background: black;
    backdrop-filter: blur(1rem);
  }
  
  .skills-info-card h6 {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.8rem 2rem;
    background: linear-gradient(180deg, rgb(50, 169, 216) 0%, #7c5fe6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1.5px solid #6751b9;
  }
  
  .skills-info-content {
    padding: 1rem;
  }
  
  .skills-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .skills-info p {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .skills-info .percentage {
    color: aqua;
  }
  
  .skills-progress-bg {
    width: 100%;
    height: 0.5rem;
    background: rgba(30, 8, 139, 0.398);
    border-radius: 0.7rem;
    margin: 1rem 0;
    overflow: hidden;
  }
  
  .skills-progress {
    width: 0%;
    height: 0.5rem;
    background: linear-gradient(90deg, red -50%, rgb(77, 231, 77) 50%);
    border-radius: 0.6rem;
    transition: all 0.5s ease-in-out;
  }
  
  @media (max-width: 1025px){
    .skills-info-card h6{
        font-size:1.1rem;
    }
    .skills-info p{
        font-size: 0.9rem;
    }
    .skills-info-content{
        padding:1.5rem;
    }
  }