.contact-form-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    width: 40%; /* Set a fixed width for larger screens */
    min-width: 300px; /* Set a minimum width to prevent the form from becoming too small */
    display: flex;
    flex-direction: column;
    grid-gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}

.name-content {
    font-size: 0.9rem;
    color: #fff;
    border: 1.5px solid skyblue;
    border-radius: 0.6rem;
    padding: 1rem;
}

form input,
form textarea {
    width: 100%; /* Adjust to full width of form container */
    max-width: 500px; /* Optional: Set a maximum width if needed */
    font-size: 0.9rem;
    color: white;
    border: 1.5px solid skyblue;
    border-radius: 0.6rem;
    padding: 1rem;
    background: rgb(189, 219, 219);
}

button {
    background-color: rgb(163, 115, 234);
    border-radius: 0.70rem;
    width: 100%; /* Adjust to full width of form container */
    max-width: 500px; /* Optional: Set a maximum width if needed */
}

form button {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    border: 1.5px solid skyblue;
    padding: 0.7rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

form button:hover {
    color: skyblue;
    background: transparent;
}

/* Media Query for smaller screens */
@media (max-width: 450px) {
    form {
        width: 90%; /* Adjust width for smaller screens */
    }
    form input,
    form textarea,
    button {
        width: 100%; /* Ensure form elements take full width of container */
    }
}
.for input[type="text"], 
.for textarea {
    color: black;
}
input::placeholder, 
textarea::placeholder {
    color: black; /* Change this to any color you like */
    opacity: 1; 
}
